<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<form class="list-group" action="" method="POST">
				<div class="list-group-item list-group-item-action gap-3 py-3">
					<div class="input-group">
						<input type="text" class="form-control" name="text_message" id="text_message" placeholder="Your message... " value="" required>
						<button class="input-group-text btn btn-outline-secondary">
							<i class="fas fa-paperclip"></i>
						</button>
						<span class="input-group-text">
							<i class="fab fa-connectdevelop"></i>
						</span>
						<input type="text" style="width: 10% !important;" class="input-group-text" name="blabber_gas" id="blabber_gas" value="32" required>
						<input type="submit" class="input-group-text btn btn-primary" value="Send">
					</div>
					<div class="opacity-50 text-end"><small>(Available Blabbers: <i class="fab fa-connectdevelop"></i> {{ user.balance }})</small></div>
				</div>

				{% for msg_inst in chat.messages|filter_sorted(reverse=true) %}
				<div class="list-group-item list-group-item-action justify-content-between w-100 d-flex gap-3 py-3" aria-current="true">
					<div>
						{% if msg_inst.sender == user.identity %}
							<h6 class="mb-1">You</h6>
						{% else %}
							<h6 class="mb-1">Other guy</h6>
						{% endif %}
						{% if msg_inst.message.message_type == 1 %}
							<p class="mb-0 opacity-75">
								{{ msg_inst.message.message }} {# ??!?! Good job Vasil! #}
							</p>
						{% else %}
							<small>
								{{ msg_inst.message.message_type }}
							</small>
						{% endif %}
					</div>
					<small class="opacity-50 text-nowrap pull-right">{{ msg_inst.timestamp|pretty_date }}</small>
                </div>
				{% else %}
				<div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <p class="mb-0 opacity-75">
                        Beginning a conversation is simpler than you think... Why don't you just start with a
						"<strong>hi!</strong>"? (☞ﾟ∀ﾟ)☞
                    </p>
                </div>
				{% endfor %}
			</div>
		</div>
	</div>




<!--    {% for post in posts %}-->
<!--    <div class="post_box">-->
<!--	   <div class="post_box-header">-->
<!--	      <div class="post_box-options"><button class="option-btn">Reply</button></div>-->
<!--	      <div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.author[0]}}</div>-->
<!--	      <div class="name-header">{{post.author}}</div>-->
<!--	      <div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div>-->
<!--	   </div>-->
<!--	   <div>-->
<!--	      <div class="post_box-body">-->
<!--	         <p>{{post.content}}</p>-->
<!--	      </div>-->
<!--	   </div>-->
<!--	</div>-->
<!--	{% endfor %}-->
{% endblock %}