<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block page_name %}UniCoin{% endblock %}{% block page_title %} {{ page_title|safe }}{% endblock %}</title>
    </head>
    <body>
        <div><a href="/index">Home</a></div>
<!--        <h1>{{ title }}</h1>-->
<!--        <hr>-->
<!--        {% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--        <ul>-->
<!--            {% for message in messages %}-->
<!--            <li>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--        {% endwith %}-->
<!--        {% block content %}{% endblock %}-->
    </body>
</html>